input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}

input[type="button"],
h1,
h2,
h3 {
  width: 100%;
  background-color: #00bcd4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

input[type="button"]:hover {
  background-color: #00bcd4;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#output {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 10px;
}

#output td,
#output th {
  border: 1px solid #ddd;
  padding: 8px;
}

#output tr:nth-child(even) {
  background-color: #f2f2f2;
}

#output tr:hover {
  background-color: #ddd;
}

#output th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00bcd4;
  color: white;
}
